# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Dependencies
node_modules/
package-lock.json
yarn-error.log

# Production
.build/
.output/
dist/
.nuxt/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Nuxt3 specific
.nuxt3/
.nitro/