<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3"></script>
  <title>Blogs</title>
</head>
<body>
<div id="app">
  <h1>
    <a href="index.html">陳詩偉の小站 {{ rossiValue }}</a>
  </h1>
  <h3>計算屬性和方法的區別(computed有緩存)</h3>
  <br>

  <div class="question">
    <ul>
      <!-- 使用計算屬性 -->
      <li v-for="vueBlog in vueBlogs">{{ vueBlog }}</li>
       <!-- 使用方法methods -->
      <!-- <li v-for="vueBlog in getVueBlogs()">{{ vueBlog }}</li> -->
    </ul>
    <!-- 計算屬性依賴的data屬性變化時(例如blogPosts)，才會重新調用計算屬性函數 -->
    <button @click="currentCount +=1 ">計數器 {{ currentCount }}</button>
    <!-- <button @click="blogPosts.push('vue計算屬性與方法的區別'); currentCount += 1;">計數器 {{ currentCount }}</button> -->
  </div>
</div>  
<script src="index.js"></script>
</body>
</html>