<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3"></script>
  <title>Books</title>
</head>
<body>
  <div id="app">
    <h1>
      <a href="index.html">陳詩偉の小站 - {{ rossiValue }}</a>
    </h1>
    <p>test v-if 語法</p>
    <br>
    <p v-if="books.length === 0">no books</p>
    <h2 v-else-if="books.length == 1">{{ books[0].title }}</h2>
    <ul v-else>
      <li v-for="book in books">{{ book.title }} </li>
    </ul>
    <br>
    <div class="question">
    <p>好口唄是誰?</p>
    <button @click="toggleAnswer">{{ toggleAnswerVisibility }}</button>
    <p v-show="showAnswer" class="answer">
      ANS: 我哪知道，尾道市!?
    </p>
 
    </div>
 </div>
  <script src="index.js"></script>
</body>
</html>