* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, 'PingFang SC', 'Microsoft Yahei', sans-serif;
}

body {
  /* background: #ebfafe; */
  background: #c4e1e1;
  display: grid;
  place-items: center;
  height: 100vh;
}

input,
textarea,
select {
  padding: 8px 14px;
  border: 1px solid hsl(280deg, 50%, 50%);
  border-radius: 4px;
  margin-left: 8px;
  outline: none;
  background: hsl(280deg, 50%, 30%, 0.2);
  color: darkblue;
}

form {
  display: grid;
  grid-template-columns: 80px 1fr;
  row-gap: 14px;
  width: 50%;
}

button {
  border: none;
  background: linear-gradient(
    90deg,
    hsl(240deg, 50%, 50%),
    hsl(280deg, 50%, 50%)
  );
  padding: 12px 18px;
  margin-top: 12px;
  border-radius: 4px;
  color: white;
}

p {
  padding: 8px 0;
  background: hsl(240deg, 50%, 30%, 0.2);
  margin: 12px 0;
}

ul {
  margin: 12px 0;
  border: 1px solid hsl(240deg, 50%, 50%);
  padding: 24px;
}
input {
  padding: 8px 14px;
  border: 1px solid hsl(280deg, 50%, 50%);
  border-radius: 4px;
  outline: none;
  background: hsl(280deg, 50%, 30%, 0.2);
  color: white;
}

#app {
  min-width: 375px;
  /* max-width: 300px; */
  min-height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 28px;
}

#app h1 {
  font-size: 18px;
  color: #878b91;
  font-weight: 500;
}

#app h2 {
  font-size: 26px;
}

#app h3 {
  font-size: 14px;
  color: #425066;
  font-weight: 500;
}

.search {
  width: 100%;
  background: #f8f8f8;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 24px 0;
  font-size: 14px;
  outline: none;
}

.search::placeholder {
  /* color: #d5dbe3; */
  color: #0000a0;
}

#app ul {
  color: #425066;
  list-style: none;
}

#app ul li {
  margin-bottom: 24px;
}

/* #app li {
  line-height: 2em;
  font-size: 20px;
} */

#app li input {
  margin-right: 24px;
  line-height: 2em;
  width: 24px;
  height: 24px;
}

.question {
  width: 300px;
  box-shadow: 0 0 24px hsl(240deg, 50%, 50%, 0.5);
  border-radius: 4px;
  padding: 24px;
}

.question button {
  border: none;
  background: linear-gradient(
    90deg,
    hsl(240deg, 50%, 50%),
    hsl(280deg, 50%, 50%)
  );
  padding: 12px 18px;
  margin-top: 12px;
  border-radius: 4px;
  color: white;
}

.answer {
  padding-top: 12px;
  color: hsl(240deg, 100%, 41%);
}

.no-underline {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: flex-start; /* 可以根據需要調整對齊方式 */
}
.flex-container a {
  margin-right: 10px; /* 可以根據需要調整間距 */
}
